body,h1,h4,p,dl,dt,dd{margin: 0;padding:0;color: #333;}
body{margin: 10px;}
h1 {
    box-sizing: border-box;
    background-color: #858585;
    font: 600 34px "微软雅黑";
    padding: 25px;
    color: #fff;
    }

dl {    
    border: 2px solid #d6d6d6;
    border-top:none;
}

dt {
    float:left;
    height: 160px;
    width: 170px;
    background-color: #d6d6d6;
    font:600 24px/160px "微软雅黑";
    text-align: center;
    }

dd {    
    height: 160px;
    line-height: 3;
    text-indent:1em;   
    overflow: hidden;
    border-top: 2px solid #d6d6d6;
    }

h4,
p {
    display: inline;}

span {
    margin-right: 10px;}

span+span {
    margin-left: 35px;}

a{
    margin-right:30px;
    color: #00f;
}

#fact {
    display: none;
}